* {
  box-sizing: border-box;
  font-family: "gilroy-extrabold", san-serif;
}

nav > ul > a:hover {
  text-decoration: none;
}

nav {
  display: flex;
  width: 100%;
  height: 60px;
}

nav img {
  height: 60px;
  width: 120px;
}

nav ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

nav li {
  margin-right: 25px;
  text-decoration: none;
  list-style: none;
  font-size: 0.6em;
  color: #959595;
  letter-spacing: 0.2px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  /* border: black 2px solid; */
}

.hero h1,
.hero p {
  text-align: left;
}

.hero p {
  font-family: "gilroy-light", san-serif;
  font-size: 1em;
  color: #b8b8b8;
}

.headingImage {
  background-image: url("../img/christian-mackie-6BJu73-UJpg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 330px;
  position: relative;
  z-index: -1;
}

.ownerHighlight {
  background-color: #1d1d1d;
  width: 100%;
  height: 80vh;
}

.ownerPhoto {
  background-image: url("../img/man.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  height: 300px;
  padding-top: 50px;
  position: relative;
  /* z-index: -1; */
}

.ownerPhoto h3 {
  font-size: 1.2em !important;
  position: absolute;
  bottom: -190px;
  left: 100px;
}

.ownerPhoto p {
  font-family: "gilroy-light", san-serif;
}

#ownerName {
  color: white;
  font-size: 0.8em;
  position: absolute;
  bottom: -260px;
  left: 100px;
}

#jobTitle {
  font-size: 0.8em;
  position: absolute;
  bottom: -285px;
  left: 100px;
  line-height: 13px;
}

#quote1 {
  color: white;
  font-size: 2em;
  position: absolute;
  bottom: 14px;
  left: 81px;
}

#quote2 {
  color: white;
  font-size: 2em;
  position: absolute;
  bottom: -200px;
  right: 65px;
}

.inspirations {
  background-color: #f5f5f5;
}

.inspirations img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.photoCaption {
  font-size: 0.9em;
  color: #b8b8b8;
}

.contactBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  width: 100%;
  height: 200px;
  position: relative;
}

.contactBanner h1 {
  font-size: 1.7em;
}

.contactBanner a {
  text-decoration: underline;
  color: black;
}

.secondImageBanner {
  background-image: url("../img/sven-brandsma-GZ5cKOgeIB0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 330px;
  position: relative;
  z-index: -1;
}

/* .contactBanner img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  position: absolute;
  top: 165px;
} */

#footerLogo {
  width: 160px;
  height: 75px;
  object-fit: cover;
  display: block;
  margin: 20px auto;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer > ul > li {
  margin-bottom: 5px;
}

.footer a {
  font-size: 0.9em;
  color: #b8b8b8;
}
