body {
  padding-top: 80px !important;
}

.navbar-brand {
  padding: 0 !important;
}

.navbar {
  padding: 0;
}

.navbar-nav a {
  font-size: 1.1em;
  font-weight: 200;
  margin-left: 10px;
}

.navbar-toggler {
  margin-right: 10px;
}

#navLogo {
  max-width: 150px;
}
