* {
  box-sizing: border-box;
  font-family: "gilroy-extrabold", san-serif;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  padding-top: 5em;
}

nav > ul > a:hover {
  text-decoration: none;
}

nav {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: white;
}

nav img {
  height: 60px;
  width: 120px;
}

nav ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-left: auto;
}

nav li {
  margin-right: 10px;
  text-decoration: none;
  list-style: none;
  font-size: 0.6em;
  color: #959595;
  letter-spacing: 0.2px;
  transition: color 0.5s ease;
}

nav li:hover {
  color: red;
}

[data-src] {
  min-width: 50px;
  min-height: 50px;
}

.carousel-item {
  width: 100% !important;
  height: 275px !important;
}

.carousel-item > img {
  object-fit: cover !important;
  max-width: 100% !important;
  height: 100% !important;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

.hero h1,
.hero p {
  text-align: left;
}

.hero p {
  font-family: "gilroy-light", san-serif;
  font-size: 1em;
  color: #b8b8b8;
}

.hidden {
  display: none;
}

.ownerHighlight {
  display: flex;
  justify-content: center;
  background-color: #1d1d1d;
  width: 100%;
  height: 480px;
}

.ownerPhoto {
  /* background-image: url("../img/man (1).png"); */
  background-image: url("../img/9649CA11-7BA1-4601-91BE-B0184C5D6F74-782DA654-3EAB-4D90-8BB2-FB32A1DDCA42.jpg");
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-position: center;
  border-radius: 10%;
  width: 250px;
  height: 300px;
  position: relative;
  margin: 0px auto;
}

.quote {
  position: absolute;
  width: 65%;
  top: 250px;
  right: 15px;
  z-index: 1;
}

.quote h3 {
  font-size: 0.8em;
  color: white;
}

#ownerName {
  font-family: "gilroy-light", san-serif;
  color: white;
  font-size: 0.8em;
}

#jobTitle {
  font-family: "gilroy-light", san-serif;
  color: #b8b8b8;
  font-size: 0.8em;
  line-height: 15px;
}

.inspirations {
  background-color: #f5f5f5;
}

.inspirations h1 {
  margin-left: 20px;
}

.inspirations img {
  width: 80%;
  height: 400px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

.projectThumb.is-visible {
  opacity: 1;
  animation-name: moveToLeft;
  animation-duration: 1s;
}

.projectThumb {
  opacity: 0;
  will-change: opacity;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 220px;
  margin: 0px auto 20px auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: 100%;
  transition: all 0.4s ease;
}

.projectThumb:hover {
  background-size: 110%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.projectThumb a {
  text-decoration: none;
}

.photoCaption {
  font-size: 0.9em;
  color: #b8b8b8;
  text-align: center;
}

.contactBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  width: 100%;
  height: 200px;
  position: relative;
}

.contactBanner h1 {
  font-size: 1.7em;
}

.contactBanner a {
  text-decoration: underline;
  color: black;
}

.secondImageBanner {
  background-image: url("../img/homeSink1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 87%;
  width: 100%;
  height: 330px;
  position: relative;
  z-index: -1;
}

#footerLogo {
  width: 160px;
  height: 75px;
  object-fit: cover;
  display: block;
  margin: 20px auto;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer > ul > li {
  margin-bottom: 5px;
}

.footer a {
  font-size: 0.9em;
  color: #b8b8b8;
  transition: color 0.5s ease;
}

.footer a:hover {
  text-decoration: none;
  color: red;
}

.footer p {
  font-size: 0.5em;
}

#wholeHouseReno {
  background-image: url("../img/rsz_senatorext1.jpg");
}

#homeAddition {
  background-image: url("../img/rsz_saugaextshot2.jpg");
}

#bathrooms {
  background-image: url("../img/tub1.jpg");
  background-position: 50% 65%;
}

#kitchens {
  background-image: url("../img/rsz_kitchen2.jpg");
}

.projectThumb p {
  color: white;
  font-size: 2.5em;
  line-height: 35px;
  font-family: "gilroy-light", san-serif;
}

/* ============================================= */
/*               Media Queries                   */
/* ============================================= */

@media (min-width: 438px) {
  .ownerHighlight {
    height: 540px;
  }

  .quote h3,
  #ownerName,
  #jobTitle {
    font-size: 1em;
  }

  .carousel-item {
    height: 375px !important;
  }
}

@media (min-width: 505px) {
  #firstSlide {
    object-position: center;
  }

  .ownerHighlight {
    height: 480px;
  }

  .ownerPhoto {
    width: 100%;
    background-repeat: repeat;
  }
}

@media (min-width: 768px) {
  .carousel-item {
    width: 100% !important;
    height: 400px !important;
  }
  nav li {
    font-size: 0.8em;
  }

  .secondImageBanner {
    height: 300px;
  }

  .ownerPhoto {
    margin-left: 220px;
    margin-top: 50px;
    height: 350px;
  }

  .quote {
    font-size: 1.4em;
    width: 34%;
    top: 25px;
    left: -250px;
  }

  .quote h3,
  #ownerName,
  #jobTitle {
    font-size: 0.8em;
  }

  .inspirations {
    display: flex;
    flex-wrap: wrap;
  }

  .inspirations h1 {
    flex-basis: 100%;
  }

  .inspirations img {
    height: 200px;
  }

  .projectThumb {
    flex-basis: 44%;
  }

  .contactBanner {
    flex-direction: row;
    justify-content: start;
    height: 300px;
    flex-wrap: nowrap;
  }

  .contactBanner h1 {
    align-self: center;
    margin-left: 3.5em;
    margin-right: 3em;
  }

  .contactBannerImg {
    height: 150px;
    max-width: 250px;
    margin-right: 10px;
    align-self: center;
  }

  .footer {
    flex-direction: row;
    height: 200px;
  }

  #footerLogo {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  nav li {
    margin-right: 30px;
  }

  #firstSlide {
    object-position: 50% 100%;
  }

  .hero {
    height: 70vh;
  }

  .hero h1 {
    font-size: 3.5em;
  }

  .hero p {
    width: 50%;
  }

  .ownerPhoto {
    margin-left: 300px;
  }

  .quote {
    top: 45px;
    left: -325px;
  }

  .contactBannerImg {
    height: 200px;
    width: 250px;
  }
}

@media (min-width: 1200px) {
  .quote {
    width: 25%;
  }

  .ownerPhoto {
    align-self: center;
  }
}

/* ============================================= */
/*               Animations                      */
/* ============================================= */

body {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ============================================= */
/*                 Keyframes                     */
/* ============================================= */

@keyframes moveToLeft {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* ============================================= */
/*            wholeHouseReno.html                */
/* ============================================= */

.headingImage {
  background-image: url("../img/rsz_senatorext1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 65%;
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.headingImage h1 {
  font-size: 1.5em;
  color: white;
  align-self: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  margin-top: 40px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 11;
}

.gallery__item--4 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 11;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 11;
  grid-row-end: 11;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 11;
  grid-row-end: 11;
}

.gallery__item--7 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 11;
  grid-row-end: 13;
}

.gallery__item--8 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 11;
  grid-row-end: 13;
}
